<div style="display: flex; flex-direction: column; padding: 1rem; margin: auto;">
    <h1 style="margin-bottom: 1rem;"> <%= @article.title %> </h1>

    <p style="margin-bottom: 1rem;"> <%= sanitize @article.body %> </p>

    <ul>
        <li><%= link_to "Edit", edit_article_path(@article) %></li>
        <li><%= link_to "Delete", article_path(@article), data: {
            turbo_method: :delete
        } %> </li>
    </ul>
</div>